body {
  background-image: url(./assets/SecretCard.png);
  background-repeat: repeat;
  background-position: inherit;
  background-size: repeat;
  width: 100%;
  height: 100%;
}

nav {
  margin: 0% 0% 0% 0%;
  display: flex;
  justify-content: center;
}

section {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
}

.pregunta {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 4% 1% 4% 1%;
}

label {
  font-weight: bold;
}

form {
  border: 1px solid rgb(249, 116, 147);
}
button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 2px solid #f300fb;
  width: 50%;
  padding: 2% 2% 2% 2%;
  margin: 1% 0% 1% 25%;
}

.card {
  margin: 1%;
  border: 1px solid rgb(147, 114, 255);
}

p {
  display: flex;
  justify-content: center;
}

h2 {
  color: rgb(255, 0, 60);
}

a {
  background-color: transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 10% 10% 10% 10%;
  border: 2px solid #f300fb;
  width: 100%;
  margin: 10% 1% 25%;
}

img {
  width: 100%;
  height: 100%;
}

section img {
  border-radius: 1%;
  box-shadow: 0 0 10px 10px rgba(255, 0, 0, 0.5);
}
